[submodule "vendor/assets/lily"]
  path = vendor/assets/lily
  url = git://github.com/mindpin/lily.git
[submodule "sample-data"]
	path = sample-data
	url = git://github.com/mindpin/sample-data-TouchIdea.git
