<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">基础设置</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="pull-left">
        发布投票时,自动邀请好友参加:
      </div>
      <div class="pull-right">
        <input type="checkbox" name="share invitation" class="switch" <%= ' checked' if @share_invitation.true? %> data-id="<%= @share_invitation.id %>">
      </div>
      <div class="clearfix"></div>
    </li>
  </ul>
</div>

<script type="text/javascript">
  var a;
  $('input[name="share invitation"]').on('switchChange.bootstrapSwitch.switchChange', function(event, state){
    var id = $(this).data('id');
    var key = $(this).attr('name');
    $.ajax({
      url: "/settings/"+id,
      type: 'PUT',
      data: { setting: { value: state}},
    });
  });
</script>
