.page-me.detail{:data => {:nav => :me}}
  .header
    .set.info
      .item.back
        %a.back{:href => '/account'}
          %i.fa.fa-chevron-left
        .title 关于我们
  .info-detail
    .about-us
      %p pinidea 0.2
      %p 由 MINDPIN TEAM 设计开发
      %p 创意：liyutong, pimgeek
      %p 设计：chilliza, ben7th
      %p 开发：fushang318, destinyD, arlyxiao