.page-votes
  .mobile-header
    .title 我发起的议题
    %a.back{:href => '/account'}
      %i.fa.fa-chevron-left

  = render_cell :topics, :list, @created_votes, current_user, '/account/created_votes'