.page-me.detail{:data => {:nav => :me}}
  .header
    .set.info
      .item.back
        %a.back{:href => '/account'}
          %i.fa.fa-chevron-left
        .title 我参与的议题
  .info-detail
    .topics
      -@joined_votes.each do |vote|
        %a.topic{:href => "/votes/#{vote.id}"}
          .data
            .title= vote.title
            .options
              - Vote.vote_items_rand_order_by_user(vote.id, current_user).each do |vote_item|
                .option=vote_item.title
          .joiner-count
            = vote.voted_users.count
