.page-me.detail{:data => {:nav => :me}}
  .header
    .set.info
      .item.back
        %a.back{:href => '/account'}
          %i.fa.fa-chevron-left
        .title 我参与的议题
  .info-detail
    = render_cell :topics, :list, @joined_votes, current_user, '/account/joined_votes'
