// 可以考虑的样式参考
// https://dribbble.com/shots/1390801-Mixpanel-Survey-Analytics-UI-UX/attachments/201133
// https://dribbble.com/shots/1912257-Checkout-Form/attachments/327582

$border-color: #E6EAED;
$panel-bg-color: #F9F9F9;

form.new-vote-shortcut {
  background-color: $panel-bg-color;
  padding: $grid-gap / 2;
  margin-bottom: $grid-gap / 2;
  border:solid 1px $border-color;

  @include -below(phone) {
    margin-top: -$grid-gap / 2;
    margin-left: -$grid-gap / 2;
    margin-right: -$grid-gap / 2;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
  }

  position: relative;

  .form-group {margin-right: 100px + 15px;margin-bottom: 0;}
  .form-submits {
    position: absolute;
    top: 15px;right: 15px;
    a.btn {
      height:34px; line-height:34px;width:100px;
    }
  }
}

#votes.votes {
  @include -below(phone) {
    margin-left: -$grid-gap / 2;
    margin-right: -$grid-gap / 2;
  }

  a.vote {
    display: block;
    border-bottom: solid 1px $border-color;
    padding: $grid-gap / 2;
    &:hover {
      text-decoration: none;
      background-color: $area-dawn;
    }

    .vote-title {
      font-size: 16px;
      height:24px; line-height:24px;
      margin-bottom: $grid-gap / 2;
      .title-text {font-weight: bold; color: #555;}

      span.label {
        font-size: 14px;
        background-color: #5a9acd;
        color: white;
        padding:0 $grid-gap / 6;
        border-radius: 2px;
        margin-right: $grid-gap / 3;
        float: left;
        opacity: 0.6;
      }
    }

    .vote-meta {
      @include clearfix;
      color: #666;
      .vote-time {
        float: left;
        font-size: 13px;
      }
      .vote-user-count {
        float: right;
        font-size: 13px;
      }
    }
  }
}

form#new_vote {
  .panel {
    $pd: $grid-gap / 2;
    @include clearfix;
    border-bottom:solid 1px $border-color;
    padding-bottom: $grid-gap;
    margin-bottom: $grid-gap;

    .panel-title {
      margin-bottom: $grid-gap;
      font-size: 16px;
    }

    .add-btn a {
      display: inline-block;
      border: solid 1px $border-color;
      background-color: lighten($area-fresh, 60%);
      height: 32px;line-height: 32px;
      padding: 0 25px;
      color: darken($area-fresh, 5%);
      &:hover {
        text-decoration: none;
        background-color: lighten($area-fresh, 50%);
      }
    }

    .vote-questions {
      .question-panel {
        margin-bottom: $pd;
        // background-color: #FEFEF5;
        background-color: $area-dawn;
        padding: $pd;

        .question {
          position: relative;
          margin-bottom: $pd;
          i {
            position: absolute;
            font-size: 20px;
            color: darken($area-fresh, 10%);
            top: 7px;
          }
          .ipt {margin-left: 35px;}
        }
        .answers {
          margin-left: 35px;

          .answer-panel {
            position: relative;
            margin-bottom: $pd;
            i {
              position: absolute;
              font-size: 14px;
              color: darken($area-fresh, 10%);
              top: 10px;
            }
            .ipt {margin-left: 35px;}
          }
        }
      }
    }
  }

  .form-group {
    label {
      position:relative;
      font-weight: normal;
      float: left;
      abbr[title=required] {
        float:right;
        height:21px;line-height:100em;font-size:0;overflow:hidden;
        &:before {
          $w: 7px;
          content:"";
          width:$w;height:$w;
          position:absolute;
          background-color:lighten($area-danger, 20%);
          border-radius:100%;
          top:(21px - $w)/2 - 1px;right: -$w - 3px;
        }
      }
    }
    input {
    }
  }
}



// 移除 bootstrap 依赖之前，先把样式写在这里
.date_picker {
  width: 200px;
}

.date_picker .input-group-btn {
  display: none;
}

.bootstrap-datetimepicker-widget {
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  display: none;
  background-color: #FFF;
  border:solid 1px #ddd;
  th {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 20px;
    line-height: 20px;
    width: 20px;
    padding: 5px;
    text-align: center;
  }
  th.next, th.prev {font-size: 21px;}
  td {
    padding: 5px;
  }
}