$futura-font-path: "fonts/futura";
$fa-font-path: "fonts"; // 自行修改字体路径

@import "css/lily.scss";

// --------------------------

$img-auth-bg: "http://img.teamkn.com/i/wALj2Z0m.jpg";

$gpd : $grid-gap / 2;

// 配色方案一
// $body-bg-color: #E9EFEF;
// $header-bg-color: #66CAC4;
// $footer-bg-color: #667170;
// $footer-hover-bg-color: #4C5453; 
// $footer-icon-color: #B2B7B7;
// $footer-hover-icon-color: #667170;

// 配色方案二
// $body-bg-color: #F4F4F4;
// $header-bg-color: #05577C;
// $footer-bg-color: #06587D;
// $footer-hover-bg-color: #013042; 
// $footer-icon-color: #75B5D0;
// $footer-hover-icon-color: #B0DDF2;

// 配色方案三
// https://dribbble.com/shots/681942-Chrome-Comp
$body-bg-color: #EEEEEE;
$header-bg-color: #E8E8E7;
$header-text-color: #444;
$header-border-color: #BEBEBE;
$footer-bg-color: #383535;
$footer-hover-bg-color: #202427; 
$footer-icon-color: #E9E9E9;
$footer-hover-icon-color: #00CCFF;
$footer-new-botton-color: #4C4849;
$filter-bg-color: $header-bg-color;
$filter-active-border-color: $footer-hover-icon-color;
$list-border-color: #ddd;
$list-count-bg-color: lighten($footer-hover-icon-color, 25%);
$list-hover-bg-color: rgba($list-count-bg-color, 0.1);
$loading-bg-color: rgba(white, 0.5);

// 参考过的设计稿
// timeline
// https://dribbble.com/shots/1956586-Filter-Menu/attachments/339546
// 页签和动画效果
// https://dribbble.com/shots/1368542-Gif-Fiche?list=buckets&offset=2

body {
  background-color: $body-bg-color;
}
body.auth {
  background-color: #222737;
  background-image: url($img-auth-bg);
  background-size: cover;
  color: white;
}

.layout-header {
  $h: 50px;
  background-color: $header-bg-color;
  height: $h; line-height: $h;
  color: $header-text-color;
  margin-bottom: $gpd;
  border-bottom:solid 2px $header-border-color;
  box-sizing:border-box;
  font-size: 20px;
  .page {text-align: center;}
  a.search {
    position: absolute;
    top:0;right:0;bottom:2px;width:50px;
    text-align: center;
    color: #444;
    text-decoration: none;
    &:hover {
      background-color: rgba(white, 0.5);
    }
  }
  a.back {
    position: absolute;
    top:0;left:0;bottom:2px;width:50px;
    text-align: center;
    color: #444;
    text-decoration: none;
    &:hover {
      background-color: rgba(white, 0.5);
    }
  }
}

.layout-footer {
  $h: 50px;
  position: fixed;
  left:0;right:0;bottom:0;
  height:$h;
  background-color: $footer-bg-color;
  .footer-nav a.item {
    color: $footer-icon-color;
    float: left;
    height: $h;line-height: $h;
    // width: percentage(11/60);
    width: percentage(1/5);
    text-align: center;
    font-size: 24px;
    display: block;
    &:hover, &:focus, &:active, &.active{
      background-color: $footer-hover-bg-color !important;
      color: $footer-hover-icon-color;
    }
    &:nth-child(2) {
      padding-right: percentage(1/10)
    }
    &:nth-child(4) {
      padding-left: percentage(1/10)
    }

    &.new {
      $iw: $h + 20px;
      background-color: $footer-new-botton-color;
      position: absolute;
      width: $iw; height:$iw; line-height: $iw;
      top:-($iw - $h) * 2/3;
      left:50%;
      margin-left: - $iw / 2;
      border-radius: $iw;
      font-size: 36px;
      box-shadow: 0 0 3px rgba(black, 0.5);
    }
  }
}

// ------------

.page-auth {
  .header {
    margin-top: 60px;

    .logo {
      font-size: 60px;
      line-height: 60px; height: 60px;
      text-align: center;
      font-weight: bold;
    }
    .desc {
      text-align: center;
      margin-top: $grid-gap;
      color: #ccc;
      font-size: 16px;
    }
  }
  .form {
    position: fixed;
    bottom:0;left:0;right:0;
    padding: $gpd;
    a.login {
      height:50px; line-height:50px;
      position: relative;
      i {
        position:absolute;
        width:42px;height:42px;line-height:42px;
        text-align: center;
        background-color: rgba(white, 0.3);
        top:4px;left:4px;
        border-radius: 100px;
        font-size:21px;
      }
    }
  }
}

.page-landing {
  .filter {
    $h:50px;
    height: $h; line-height: $h;
    // background-color: $filter-bg-color;
    background-color: darken($filter-bg-color, 2%);
    margin-top: -$gpd;
    margin-left: -$gpd;
    margin-right: -$gpd;
    margin-bottom: 0;
    a.item {
      height: $h; line-height: $h;
      float: left;
      width: percentage(1/2);
      text-align: center;
      box-sizing: border-box;
      border-bottom: solid 2px transparent;
      color: #999;
      font-size: 16px;
      &:hover, &:focus, &:active, &.active{
        text-decoration: none;
        border-bottom: solid 2px $filter-active-border-color;
        color: #666;
        background-color: $filter-bg-color;
      }
    }
  }

  .list-bg {
    content:"";
    position: fixed;
    top:0;left:34px;width:2px;bottom:0;
    top:100px;bottom:50px;
    background-color: $list-border-color;
    // background-color: red;
  }
  .topics.list {
    position: fixed;
    top: 100px;left:0px;right:0;bottom:50px;
    overflow-y: scroll;
    padding: $gpd * 1.5 $gpd;

    a.topic {
      margin-bottom: $gpd * 2;
      position: relative;
      z-index:1;
      display: block;

      color: $text-color-default;
      &:hover {
        text-decoration: none;
      }

      &:before {
        content: "";
        position: absolute;
        top: -15px; left: -15px;
        bottom: -15px; right: -15px;
        // background-color: rgba(red, 0.2);
        background-color: transparent;
      }

      &:hover:before {
        background-color: $list-hover-bg-color;
      }

      .creator {
        float: left;
        $aw: 40px;
        position: relative;
        z-index: 1;
        .avatar {
          border-radius:$aw;
          width:$aw;height:$aw;
          img {width:$aw;height:$aw;border-radius:$aw;}
        }
      }
      .data {
        position: relative;
        z-index: 1;
        margin-left: 55px;
        .title {
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 10px;
          margin-top: -2px;
        }
        .options .option {
          font-size: 14px;
          height:20px;line-height:20px;
          overflow:hidden;
          color: #999;
          margin-bottom: 5px;
          position: relative;
          padding-left: 16px;
          &:before {
            content: "";
            position: absolute;
            width:6px;height:6px;
            background-color: #aaa;
            border-radius:100px;
            top:6px;left:0;
          }
        }
      }
      .joiner-count {
        position: absolute;
        top: 55px; left: 0;
        height: 20px; line-height: 20px;
        width: 40px;
        background-color: $list-count-bg-color;
        text-align: center;
        border-radius: 100px;
        color: darken($list-count-bg-color, 50%);
      }
    }

    .loading {
      background-color: $loading-bg-color;
      padding: $gpd;
      font-size: 16px;
      color: #999;
      text-align: center;
      // margin-left: 55px;
      // margin-right: 55px;
      margin:0 40px;
      height:20px;line-height:20px;
      position: relative;
      border-radius: $border-radius-default;
      // &:before {
      //   position: absolute;
      //   content:"";
      //   width:10px;height:10px;
      //   background-color: #666;
      //   border-radius:100px;
      //   left:-40px;
      //   top: 20px;
      // }
    }
  }
}
