$futura-font-path: "fonts/futura";
$fa-font-path: "fonts"; // 自行修改字体路径

@import "css/lily.scss";

// --------------------------

$img-auth-bg: "http://img.teamkn.com/i/wALj2Z0m.jpg";
$gpd : $grid-gap / 2;

@mixin height($h) {
  height: $h; line-height: $h;
}

@mixin square($w) {
  @include height($w);
  width: $w;
  text-align: center;
  display: block;
}

@mixin circle($w) {
  @include square($w);
  border-radius: 1000px;
}

@mixin default-transition($time: .2s) {
  @include transition(all ease $time);
}

// 呼吸闪烁
@include keyframes(breathe) {
  0%   { opacity: 1;}
  50%  { opacity: 0.4;}
  100% { opacity: 1;}
}

// 配色方案一
// $body-bg-color: #E9EFEF;
// $header-bg-color: #66CAC4;
// $footer-bg-color: #667170;
// $footer-hover-bg-color: #4C5453; 
// $footer-icon-color: #B2B7B7;
// $footer-hover-icon-color: #667170;

// 配色方案二
// $body-bg-color: #F4F4F4;
// $header-bg-color: #05577C;
// $footer-bg-color: #06587D;
// $footer-hover-bg-color: #013042; 
// $footer-icon-color: #75B5D0;
// $footer-hover-icon-color: #B0DDF2;

// 配色方案三
// https://dribbble.com/shots/681942-Chrome-Comp
$base-color: #33ccff;
$primary-icon-color: $base-color;

$body-bg-color: #EEEEEE;
$header-bg-color: #E8E8E7;
$header-text-color: #444;
$header-border-color: #BEBEBE;
$footer-bg-color: #383535;
$footer-hover-bg-color: #202427; 
$footer-icon-color: #E9E9E9;
$footer-hover-icon-color: $base-color;
$footer-new-botton-color: #4C4849;
$filter-bg-color: darken($header-bg-color, 6%);
$filter-active-border-color: $footer-hover-icon-color;
$list-border-color: #ddd;
$list-count-bg-color: lighten($base-color, 25%);
$list-hover-bg-color: rgba($list-count-bg-color, 0.2);
$detail-header-bg-color: #fafafa;
$infocard-bg-color: #f7f7f7;
$top-nav-icon-size: 20px;
$common-box-shadow: 0 1px 2px rgba(black, 0.1);
$common-box-shadow-inset: 0 1px 2px rgba(black, 0.2) inset;
$step-bg-color: lighten($base-color, 25%);
$step-active-bg-color: $base-color;

@mixin infocard {
  $iw: 64px;
  $h: 20px * 3 + 5px;

  background-color: $infocard-bg-color;
  margin: 0;
  margin-top: 0;
  height: $h;
  position: relative;
  padding: 15px;

  // box-shadow: $common-box-shadow;
  border-top:dashed 1px #ddd;

  .product-logo {
    box-sizing: border-box;
    $bd:0px;
    $w:$h;
    @include square($w);
    img {width:100%;height:100%;}
    border:solid $bd white;
    position: absolute;
    background-color: #ddd;
    top:15px;left:15px;
  }
  .data {
    margin-left: $iw + 10px + 5px;
    font-size: 14px;
    .product-name {
      min-height:20px;
      max-height:40px;
      line-height:20px;
      overflow:hidden;
      word-break: break-all;
      margin-bottom: 5px;
    }
    .product-desc {
      min-height:20px;
      max-height:40px;
      line-height:20px;
      overflow:hidden;
      word-break: break-all;
      color: #888;
    }
    .product-price {
      line-height: 20px;
      font-weight: bold;
      color: $area-hot;
      font-size: 16px;
    }
  }
}

@mixin list-item-topic {
  margin-bottom: $gpd * 2;
  position: relative;
  display: block;
  color: $text-color-default;
  text-decoration: none;

  &:hover:before {
    content: "";
    position: absolute;
    top: -15px; left: -15px;
    bottom: -15px; right: -15px;
    background-color: $list-hover-bg-color;
  }

  .data {
    position: relative;
    margin-left: 55px;
    .title {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px;
    }
    .options .option {
      font-size: 14px;
      @include height(20px);
      overflow:hidden;
      color: #999;
      margin-bottom: 5px;
      position: relative;
      padding-left: 16px;
      &:before {
        content: "";
        position: absolute;
        width:6px;height:6px;
        background-color: #aaa;
        border-radius:100px;
        top:6px;left:0;
      }
    }
  }
  .joiner-count {
    font-size: 14px;
    position: absolute;
    top: 0px; left: 0;
    @include height(22px);
    width: 40px;
    background-color: $list-count-bg-color;
    text-align: center;
    border-radius: 100px;
    color: darken($list-count-bg-color, 50%);
  }
}

// 参考过的设计稿
// timeline
// https://dribbble.com/shots/1956586-Filter-Menu/attachments/339546
// 页签和动画效果
// https://dribbble.com/shots/1368542-Gif-Fiche?list=buckets&offset=2

body {
  background-color: $body-bg-color;
  overflow-x:hidden;
  a {
    outline: 0 none !important;
  }
}
body.auth {
  background-color: #222737;
  background-image: url($img-auth-bg);
  background-size: cover;
  color: white;
}

.layout-footer {
  $h: 55px;
  position: fixed;
  left:0;right:0;bottom:0;
  height:$h;
  background-color: $footer-bg-color;
  .footer-nav a.item {
    color: $footer-icon-color;
    float: left;
    height: $h;line-height: $h;
    // width: percentage(11/60);
    width: percentage(1/5);
    text-align: center;
    font-size: 24px;
    display: block;
    text-decoration: none;
    @include default-transition($time: 0.5s);
    &:not(.new) i {
      font-size: 24px;
      display: block;
      line-height: 30px;
      margin-top: 5px;
    }
    &:not(.new) .text {
      display: block;
      font-size: 12px;
      line-height: 20px;
    }

    &:hover, &:focus, &:active, &.active{
      background-color: $footer-hover-bg-color !important;
      color: $footer-hover-icon-color;
    }
    &:nth-child(2) {
      padding-right: percentage(1/10)
    }
    &:nth-child(4) {
      padding-left: percentage(1/10)
    }

    &.new {
      $iw: $h + 20px;
      background-color: $footer-new-botton-color;
      position: absolute;
      width: $iw; height:$iw; line-height: $iw;
      top:-($iw - $h) * 2/3;
      left:50%;
      margin-left: - $iw / 2;
      border-radius: $iw;
      font-size: 36px;
      box-shadow: $common-box-shadow;
      z-index: 2;
    }
  }
  .footer-nav a.cancel-new {
    color: white;
    @include circle(32px);
    font-size: 24px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    pointer-events: none;
    top: (55px - 32px) / 2;
    opacity: 0;
    @include default-transition($time: 0.5s);
  }
  .footer-nav.new-topic-type-select {
    background-color: $filter-bg-color;
    a.item {opacity:0;pointer-events:none;}
    a.cancel-new {
      opacity:1;
      pointer-events:auto;
    }
  }
}

.float-new-type-select {
  position: fixed;
  top:0;left:0;right:0;
  bottom: 55px;
  background-color: rgba($body-bg-color, 1);
  opacity: 0;
  pointer-events: none;
  @include default-transition($time: 0.5s);
  overflow: hidden;
  z-index: 100;

  .tips {
    text-align: center;
    @include height(128px);
    font-size: 20px;
    color: #666;
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
    .items {
      margin-top: 0;
    }
  }

  .items {
    position: absolute;
    top: 50%; margin-top: 150px;
    left:$gpd * 2;right:$gpd * 2;
    @include default-transition($time: 0.3s);
  }
  .item {
    @include col(1/2);
    position: relative;
    text-align: center;
    $w: 80px;
    a {
      @include circle($w);
      // background-color: black;
      color: white;
      font-size: $w * 0.4;
      position: absolute;
      top:0;left:50%;
      margin-left:-$w/2;
      &.common {
        background-color: #35B87F;
      }
      &.good {
        background-color: #5BB4DA;
      }
    }
    span {
      @include height(30px);
      display: block;
      text-align: center;
      margin-top: $w + 5px;
      font-size: 13px;
      color: #666;
    }
  }
}

// ------------

.page-auth {
  .header {
    margin-top: 60px;

    .logo {
      font-size: 60px;
      line-height: 60px; height: 60px;
      text-align: center;
      font-weight: bold;
    }
    .desc {
      text-align: center;
      margin-top: $grid-gap;
      color: #ccc;
      font-size: 16px;
    }
  }
  .form {
    position: fixed;
    bottom:0;left:0;right:0;
    padding: $gpd;
    a.login {
      height:50px; line-height:50px;
      position: relative;
      i {
        position:absolute;
        width:42px;height:42px;line-height:42px;
        text-align: center;
        background-color: rgba(white, 0.3);
        top:4px;left:4px;
        border-radius: 100px;
        font-size:21px;
      }
    }
  }
}

.page-landing {
  position: fixed;
  top:0;left:0;right:0;bottom:55px;

  &:before {
    content:"";
    position: fixed;
    top:0;left:34px;width:2px;bottom:0;
    top:0px;bottom:50px;
    background-color: $list-border-color;
  }

  $bar-height:70px;
  .topbar {
    $bar-height:$bar-height;
    $tab-height:40px;
    $lucky-height:50px;

    height: $bar-height;
    position: absolute;
    top:0;left:0;right:0;

    .filter {
      position: absolute;
      @include height($tab-height);
      top: ($bar-height - $tab-height) / 2;
      left: $gpd;
      right: $lucky-height + 20px;

      box-shadow: $common-box-shadow;
      background-color: $filter-bg-color;
      border-radius:100px;
      padding:4px;
      box-sizing:border-box;

      a.item {
        @include transition(background ease .2s);
        @include height(32px);
        float: left;
        width: percentage(1/2);
        text-align: center;
        color: #888;
        font-size: 16px;
        border-radius: 100px;
        text-decoration: none;

        &:hover, &:focus, &:active, &.active{
          color: #666;
          background-color: rgba(white, 0.5);
          box-shadow: $common-box-shadow-inset;
        }
      }
    }

    a.lucky {
      @include default-transition;
      position: absolute;
      top: 10px; right: 10px;
      display: block;
      box-shadow: $common-box-shadow;
      @include circle($lucky-height);
      background-color: $area-success;
      text-decoration: none;
      text-align: center;
      i {
        @include circle($lucky-height);
        font-size: 32px;
        color: white;
      }
      &:hover {
        top:12px;
        box-shadow:none;
        background-color: darken($area-success, 10%);
      }
    }
  }

  .topics.list {
    position: absolute;
    top: $bar-height;left:0px;right:0;bottom:0;
    overflow-y: scroll;
    padding: $gpd $gpd 0;

    a.topic {
      @include list-item-topic;
    }

    .loading {
      padding: $gpd 0;
      font-size: 16px;
      color: #999;
      margin:0 55px;
      margin-bottom: $gpd * 2;
      i {
        @include square(24px);
        display: inline-block;
      }
      span {
        @include height(24px);
        display: inline-block;
      }
    }
  }
}

.page-topic {
  $biw: 40px;

  .topic-header {
    background-color: $detail-header-bg-color;
    margin-left: -$gpd;
    margin-right: -$gpd;
    min-height: $biw + $gpd * 2;
    position: relative;
    box-shadow: $common-box-shadow;
    overflow: hidden;

    a.back {
      position: absolute;
      @include circle($biw);
      font-size: $top-nav-icon-size;
      text-decoration: none;
      top: $gpd;
      left: $gpd / 2;
      color: $base-color;
      i {
        position: relative;
        left: -1px;
      }
    }

    h2.title {
      margin:0;padding:0;
      margin-left: $biw + $gpd * 2 - $gpd;
      font-size:20px;
      line-height: 30px;
      padding-top: $gpd + ($biw - 30px) / 2 - 1px;
      padding-bottom: $gpd + ($biw - 30px) / 2 + 1px;
    }

    .infocard.product {
      @include infocard;
    }
  }

  .topic-options {
    a.option {
      display: block;
      background-color: #FFF;
      margin-top: 5px;
      margin-left: -$gpd;
      margin-right: -$gpd;
      padding: $gpd;
      padding-right: $gpd + 40px + $gpd;
      position: relative;
      box-shadow: $common-box-shadow;
      text-decoration: none;
      color: #444;

      .text {
        height:40px;line-height:20px;
        overflow:hidden;
        font-size: 16px;
      }
      .icon {
        position: absolute;
        width:40px;height:40px; line-height:40px;
        top: $gpd;
        right: $gpd;
        font-size: 32px;
        text-align: center;
        &.i0 i {opacity: 0.4};
        &.i1 i {opacity: 0.7};
        @include default-transition;
      }
      .icon.i0 {opacity:1;@include transform(scale(1))};
      .icon.i1 {opacity:0;@include transform(scale(0.1))};

      &.active {
        background-color: $footer-hover-icon-color;
        color:white;
        box-shadow: none;
        .icon.i0 {opacity:0;@include transform(scale(0.1))};
        .icon.i1 {opacity:1;@include transform(scale(1))};
      }
    }
  }

  .topic-new-option {
    margin-top: $gpd;
    margin-bottom: $gpd;
    a.new {
      display: block;
      height:50px;line-height:50px;
      background-color: #FFEEBE;
      color: #A57900;
      border-radius:100px;
      box-shadow: $common-box-shadow;
    }
  }
}

.page-new-topic {
  $bar-height:70px;

  .topbar {
    @include height($bar-height);
    background-color: $detail-header-bg-color;
    box-shadow: $common-box-shadow;
    position: fixed;
    top:0;left:0;right:0;
    z-index: 1;

    a.back {
      float:left;
      background-color: $filter-bg-color;
      color:white;
      @include circle(40px);
      margin-top: $gpd;
      margin-left: $gpd;
      font-size: $top-nav-icon-size;
      text-decoration: none;
      i {
        @include square(40px);
        position: relative;
        left: - 1px;
        top: 1px;
      }
    }

    .steps {
      @include height($bar-height);
      position: absolute;
      top:0;left:$bar-height + $gpd;right:0;

      .step {
        float:left;
        @include height($bar-height);
        width: $bar-height;
        position: relative;
        &:after {
          position: absolute;
          content: "";
          height:6px;
          border-radius:10px;
          top: ($bar-height - 6px) / 2;
          right: 15px + 40px + 5px;
          width: 20px;
          background-color: $step-bg-color;
          @include default-transition($time: .5s);
        }

        span {
          @include circle(40px);
          position: absolute;
          top: $gpd;
          left: 50%;
          margin-left: -20px;
          background-color: $step-bg-color;
          color: white;
          font-size: 20px;
          @include default-transition($time: .5s);

          .no, i{
            font-weight: bold;
            @include square(40px);
            position: absolute; top:0;left:0;
            @include default-transition($time: .5s);
          }
          i { 
            opacity:0;@include transform(scale(0.1)); 
            top:1px;
          }
        }

        &:first-child:after {
          display: none;
        }

        &.active span{
          background-color: $step-active-bg-color;
        }
        &.active:after {
          background-color: $step-active-bg-color;
        }

        &.done span {
          background-color: $area-success;
          .no { opacity:0;@include transform(scale(0.1)); }
          i { opacity:1;@include transform(scale(1)); }
        }
        &.done:after {
          background-color: $area-success;
        }
      }
    }
  }

  .form {
    .part {
      position: absolute;
      top:75px;left:0;width:100%;
      box-sizing:border-box;

      background-color: $detail-header-bg-color;
      padding: $gpd;
      box-shadow: $common-box-shadow;
      margin-bottom: 5px;
      .fields {
        margin-bottom: $gpd;
        label {
          display: block;
          color: #666;
          font-weight: normal;
          margin-bottom: 10px;
          font-size: 16px;
        }
        textarea {
          resize: none;
          padding: 6px;
          font-size: 16px;
          border-color: #ddd;
          &:focus { border-color: $base-color; }
          &.url {
            font-size: 12px;
          }
        }
        input {
          font-size: 16px;
          border-color: #ddd;
          &:focus { border-color: $base-color; }
          margin-bottom: 5px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .ipt {
          margin-right: 32px;
          position: relative;
          a.delete {
            position: absolute;
            @include circle(32px);
            top:1px;right:-40px;
            font-size: 16px;
            color: #999;
            @include default-transition;
            &.disabled {
              opacity: 0.2;
            }
          }
        }
      }
      .submits {
        position: relative;
        @include clearfix;
        a.additem {
          position: absolute;
          left:50%;
          margin-left: -16px;
          @include circle(32px);
          background-color: $area-success;
          color: white;
          font-size: 16px;
          text-decoration: none;
          i, i:before{@include circle(32px)};
          i {position: relative;top:1px;}
        }
        .additem-text {
          position: absolute;
          top: 32px + 25px;
          width: 200px;
          left: 50%;
          margin-left: -100px;
          color: #999;
          text-align: center;
          i {display:block;font-size:16px;line-height:24px;}
          @include animation(breathe 1s infinite);
        }
        a.prev, a.next, a.done, a.skip, a.loadurl{
          font-size: 16px;
          text-decoration: none;
          @include height(32px);
          &.disabled {
            opacity: 0.5;
          }
        }
        a.loadurl {
          float: left;
          background-color: $area-success;
          color: white;
          padding:0 10px;
          border-radius: 4px;
          font-size: 14px;
          &.disabled {
            opacity: 0.4;
          }
        }
        a.prev {
          color: #999;
          float: left;
        }
        a.next, a.done, a.skip{
          color: $area-success;
          float: right;
        }

        .loading {
          .loadingtext {
            position: absolute;
            font-size: 12px;
            @include height(20px);
            top:0;left:0;
            color:#999;
          }
          .loadingbar {
            height: 10px;
            box-sizing: border-box;
            border:solid 1px $area-success;
            border-radius:2px;
            background-color: #fff;
            position:absolute;
            left: 0;
            top: 22px;
            right: 100px;
            .p {
              height:100%;
              background-color: lighten($area-success, 10%);
            }
          }
        }
        .loaded-success {
          float: left;
          color: #999;
          @include height(32px);
          font-size: 16px;
        }
      }
      .infocard {
        @include infocard;
        margin-top: $gpd;
        margin-left: -$gpd;
        margin-right: -$gpd;
        margin-bottom: -$gpd;
      }

      &.tdesc .infocard {
        margin-top: -15px;
        margin-bottom: 15px;
        border-top: 0 none;
        border-bottom: dashed 1px #ddd;
      }
    }
  }
}

.page-created {
  .title {
    font-size: 32px;
    text-align: center;
    color: #666;
    @include height(64px);
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .desc {
    color: #666;
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .go {
    text-align: center;
    margin-bottom: 30px;
  }
}

.page-search {
  $bar-height: 60px;
  .topbar {
    @include height($bar-height);
    background-color: $detail-header-bg-color;
    box-shadow: $common-box-shadow;
    position: fixed;
    top:0;left:0;right:0;
    z-index: 1;

    i {
      position: absolute;
      pointer-events: none;
      @include square(34px);
      color: #ccc;
      top: ($bar-height - 34px) / 2;left:15px;
      z-index: 1;
    }
    .ipt {
      position: absolute;
      top: ($bar-height - 34px) / 2;left: 15px;right:15px;
      height:34px;
      z-index: 0;
      input {
        padding-left: 34px;
      }
    }
    a.cancel {
      display: none;
    }
    &.filled {
      .ipt {right: 15px + 30px + 15px;}
      a.cancel {
        display: block;
        position: absolute;
        @include height(34px);
        top:($bar-height - 34px) / 2; right:15px;
        font-size: 16px;
        color: #999;
        text-decoration: none;
      }
    }
  }

  .search-content {
    position: absolute;
    top: $bar-height;left:0px;right:0;bottom:0;
    overflow-y: scroll;
    .history {
      @include clearfix;
      margin-top: 10px;
      box-shadow: $common-box-shadow;
      $w: 40px;
      .word {
        @include height($w);
        border-bottom: solid 1px #ddd;
        &:last-child { border-bottom: 0 none; }
        position: relative;
        background-color: $detail-header-bg-color;

        a.s {
          position: absolute;
          top:0;right:$w;bottom:0;left:0;
          color: #666;
          text-decoration: none;
          i {
            @include square($w);
            float: left;
            color: #ccc;
          }
          &:hover:before {
            content: "";
            position: absolute;
            top:0;left:0;right:-$w;bottom:0;
            pointer-events: none;
            background-color: $list-hover-bg-color;
          }
        }

        a.delete {
          position: absolute;
          @include square($w);
          top:0;right:0;
          text-decoration: none;
          color: #999;
        }
      }
      a.clear {
        display: block;
        @include height($w);
        text-align: center;
        color: #999;
        text-decoration: none;
        background-color: #F7F7F7;
        &:hover{background-color: $list-hover-bg-color;}
        &:first-child {
          display: none;
        }
      }
    }
    .result {
      margin-top: 10px;
      background-color: $detail-header-bg-color;
      box-shadow: $common-box-shadow;

      .topic {
        @include list-item-topic;
        padding: 15px;
        border-bottom: solid 1px #ddd;
        margin-bottom: 0;
        &:last-child { border-bottom: 0 none; }
        .joiner-count{top:15px;left:15px;}
        .stat {
          font-size: 12px;
          color: #999;
          span{margin-right:10px;}
        }
        span.key {
          color: $area-hot;
        }
        &:hover:before {
          top:0;left:0;right:0;bottom:0;
        }
      }
    }
  }
}
