$futura-font-path: "fonts/futura";
$fa-font-path: "fonts"; // 自行修改字体路径

@import "css/lily.scss";

// --------------------------

$img-auth-bg: "http://img.teamkn.com/i/wALj2Z0m.jpg";
$gpd : $grid-gap / 2;

@mixin height($h) {
  height: $h; line-height: $h;
}

@mixin square($w) {
  @include height($w);
  width: $w;
  text-align: center;
  display: block;
}

@mixin circle($w) {
  @include square($w);
  border-radius: 1000px;
}

@mixin default-transition($time: .2s) {
  @include transition(all ease $time);
}

// 配色方案一
// $body-bg-color: #E9EFEF;
// $header-bg-color: #66CAC4;
// $footer-bg-color: #667170;
// $footer-hover-bg-color: #4C5453; 
// $footer-icon-color: #B2B7B7;
// $footer-hover-icon-color: #667170;

// 配色方案二
// $body-bg-color: #F4F4F4;
// $header-bg-color: #05577C;
// $footer-bg-color: #06587D;
// $footer-hover-bg-color: #013042; 
// $footer-icon-color: #75B5D0;
// $footer-hover-icon-color: #B0DDF2;

// 配色方案三
// https://dribbble.com/shots/681942-Chrome-Comp
$base-color: #33ccff;
$primary-icon-color: $base-color;

$body-bg-color: #EEEEEE;
$header-bg-color: #E8E8E7;
$header-text-color: #444;
$header-border-color: #BEBEBE;
$footer-bg-color: #383535;
$footer-hover-bg-color: #202427; 
$footer-icon-color: #E9E9E9;
$footer-hover-icon-color: $base-color;
$footer-new-botton-color: #4C4849;
$filter-bg-color: darken($header-bg-color, 6%);
$filter-active-border-color: $footer-hover-icon-color;
$list-border-color: #ddd;
$list-count-bg-color: lighten($base-color, 25%);
$list-hover-bg-color: rgba($list-count-bg-color, 0.2);
$detail-header-bg-color: #fafafa;
$infocard-bg-color: #f7f7f7;
$top-nav-icon-size: 20px;
$common-box-shadow: 0 1px 2px rgba(black, 0.2);
$common-box-shadow-inset: 0 1px 2px rgba(black, 0.2) inset;
$step-bg-color: lighten($base-color, 25%);
$step-active-bg-color: $base-color;

// 参考过的设计稿
// timeline
// https://dribbble.com/shots/1956586-Filter-Menu/attachments/339546
// 页签和动画效果
// https://dribbble.com/shots/1368542-Gif-Fiche?list=buckets&offset=2

body {
  background-color: $body-bg-color;
  overflow-x:hidden;
  a {
    outline: 0 none !important;
  }
}
body.auth {
  background-color: #222737;
  background-image: url($img-auth-bg);
  background-size: cover;
  color: white;
}

.layout-footer {
  $h: 55px;
  position: fixed;
  left:0;right:0;bottom:0;
  height:$h;
  background-color: $footer-bg-color;
  .footer-nav a.item {
    color: $footer-icon-color;
    float: left;
    height: $h;line-height: $h;
    // width: percentage(11/60);
    width: percentage(1/5);
    text-align: center;
    font-size: 24px;
    display: block;
    text-decoration: none;
    &:not(.new) i {
      font-size: 24px;
      display: block;
      line-height: 30px;
      margin-top: 5px;
    }
    &:not(.new) .text {
      display: block;
      font-size: 12px;
      line-height: 20px;
    }

    &:hover, &:focus, &:active, &.active{
      background-color: $footer-hover-bg-color !important;
      color: $footer-hover-icon-color;
    }
    &:nth-child(2) {
      padding-right: percentage(1/10)
    }
    &:nth-child(4) {
      padding-left: percentage(1/10)
    }

    &.new {
      $iw: $h + 20px;
      background-color: $footer-new-botton-color;
      position: absolute;
      width: $iw; height:$iw; line-height: $iw;
      top:-($iw - $h) * 2/3;
      left:50%;
      margin-left: - $iw / 2;
      border-radius: $iw;
      font-size: 36px;
      box-shadow: $common-box-shadow;
    }
  }
}

// ------------

.page-auth {
  .header {
    margin-top: 60px;

    .logo {
      font-size: 60px;
      line-height: 60px; height: 60px;
      text-align: center;
      font-weight: bold;
    }
    .desc {
      text-align: center;
      margin-top: $grid-gap;
      color: #ccc;
      font-size: 16px;
    }
  }
  .form {
    position: fixed;
    bottom:0;left:0;right:0;
    padding: $gpd;
    a.login {
      height:50px; line-height:50px;
      position: relative;
      i {
        position:absolute;
        width:42px;height:42px;line-height:42px;
        text-align: center;
        background-color: rgba(white, 0.3);
        top:4px;left:4px;
        border-radius: 100px;
        font-size:21px;
      }
    }
  }
}

.page-landing {
  position: fixed;
  top:0;left:0;right:0;bottom:55px;

  &:before {
    content:"";
    position: fixed;
    top:0;left:34px;width:2px;bottom:0;
    top:0px;bottom:50px;
    background-color: $list-border-color;
  }

  $bar-height:70px;
  .topbar {
    $bar-height:$bar-height;
    $tab-height:40px;
    $lucky-height:50px;

    height: $bar-height;
    position: absolute;
    top:0;left:0;right:0;

    .filter {
      position: absolute;
      @include height($tab-height);
      top: ($bar-height - $tab-height) / 2;
      left: $gpd;
      right: $lucky-height + 20px;

      box-shadow: $common-box-shadow;
      background-color: $filter-bg-color;
      border-radius:100px;
      padding:4px;
      box-sizing:border-box;

      a.item {
        @include transition(background ease .2s);
        @include height(32px);
        float: left;
        width: percentage(1/2);
        text-align: center;
        color: #888;
        font-size: 16px;
        border-radius: 100px;
        text-decoration: none;

        &:hover, &:focus, &:active, &.active{
          color: #666;
          background-color: rgba(white, 0.5);
          box-shadow: $common-box-shadow-inset;
        }
      }
    }

    a.lucky {
      @include default-transition;
      position: absolute;
      top: 10px; right: 10px;
      display: block;
      box-shadow: $common-box-shadow;
      @include circle($lucky-height);
      background-color: $area-success;
      text-decoration: none;
      text-align: center;
      i {
        @include circle($lucky-height);
        font-size: 32px;
        color: white;
      }
      &:hover {
        top:12px;
        box-shadow:none;
        background-color: darken($area-success, 10%);
      }
    }
  }

  .topics.list {
    position: absolute;
    top: $bar-height;left:0px;right:0;bottom:0;
    overflow-y: scroll;
    padding: $gpd $gpd 0;

    a.topic {
      margin-bottom: $gpd * 2;
      position: relative;
      display: block;
      color: $text-color-default;
      text-decoration: none;

      &:hover:before {
        content: "";
        position: absolute;
        top: -15px; left: -15px;
        bottom: -15px; right: -15px;
        background-color: $list-hover-bg-color;
      }

      .data {
        position: relative;
        margin-left: 55px;
        .title {
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 10px;
        }
        .options .option {
          font-size: 14px;
          @include height(20px);
          overflow:hidden;
          color: #999;
          margin-bottom: 5px;
          position: relative;
          padding-left: 16px;
          &:before {
            content: "";
            position: absolute;
            width:6px;height:6px;
            background-color: #aaa;
            border-radius:100px;
            top:6px;left:0;
          }
        }
      }
      .joiner-count {
        font-size: 14px;
        position: absolute;
        top: 0px; left: 0;
        @include height(22px);
        width: 40px;
        background-color: $list-count-bg-color;
        text-align: center;
        border-radius: 100px;
        color: darken($list-count-bg-color, 50%);
      }
    }

    .loading {
      padding: $gpd 0;
      font-size: 16px;
      color: #999;
      margin:0 55px;
      margin-bottom: $gpd * 2;
      i {
        display: inline-block;
        @include square(24px);
      }
      span {
        display: inline-block;
        @include height(24px);
      }
    }
  }
}

.page-topic {
  $biw: 40px;

  .topic-header {
    background-color: $detail-header-bg-color;
    margin-left: -$gpd;
    margin-right: -$gpd;
    min-height: $biw + $gpd * 2;
    position: relative;
    box-shadow: $common-box-shadow;
    overflow: hidden;

    a.back {
      position: absolute;
      @include circle($biw);
      font-size: $top-nav-icon-size;
      text-decoration: none;
      top: $gpd;
      left: $gpd;
      color: $base-color;
      i {
        position: relative;
        left: -1px;
      }
    }

    h2.title {
      margin:0;padding:0;
      margin-left: $biw + $gpd * 2;
      font-size:20px;
      line-height: 30px;
      padding-top: $gpd + ($biw - 30px) / 2 - 1px;
      padding-bottom: $gpd + ($biw - 30px) / 2 + 1px;
    }

    .infocard.product {
      $iw: 64px;
      $h: 20px * 3 + 5px;

      background-color: $infocard-bg-color;
      margin: 0;
      margin-top: 0;
      height: $h;
      position: relative;
      padding: 15px;

      box-shadow: $common-box-shadow;

      .product-logo {
        box-sizing: border-box;
        $bd:0px;
        $w:$h;
        @include square($w);
        img {width:100%;height:100%;}
        border:solid $bd white;
        position: absolute;
        background-color: #ddd;
        top:15px;left:15px;
      }
      .data {
        margin-left: $iw + 10px + 5px;
        font-size: 14px;
        .product-name {
          height:20px;line-height:20px;
          overflow:hidden;
          margin-bottom: 5px;
        }
        .product-desc {
          height: 40px; line-height: 20px;
          overflow-y: hidden;
          color: #888;
        }
      }
    }
  }

  .topic-options {
    .option {
      background-color: #FFF;
      margin-top: 5px;
      margin-left: -$gpd;
      margin-right: -$gpd;
      padding: $gpd;
      padding-right: $gpd + 40px + $gpd;
      position: relative;
      box-shadow: $common-box-shadow;

      .text {
        height:40px;line-height:20px;
        overflow:hidden;
        font-size: 16px;
      }
      .icon {
        position: absolute;
        width:40px;height:40px; line-height:40px;
        top: $gpd;
        right: $gpd;
        font-size: 32px;
        text-align: center;
        &.i0 i {opacity: 0.4};
        &.i1 i {opacity: 0.7};
        @include default-transition;
      }
      .icon.i0 {opacity:1;@include transform(scale(1))};
      .icon.i1 {opacity:0;@include transform(scale(0.1))};

      &.active {
        background-color: $footer-hover-icon-color;
        color:white;
        box-shadow: none;
        .icon.i0 {opacity:0;@include transform(scale(0.1))};
        .icon.i1 {opacity:1;@include transform(scale(1))};
      }
    }
  }

  .topic-new-option {
    margin-top: $gpd;
    margin-bottom: $gpd;
    a.new {
      display: block;
      height:50px;line-height:50px;
      background-color: #FFEEBE;
      color: #A57900;
      border-radius:100px;
      box-shadow: $common-box-shadow;
    }
  }
}

.page-new-topic {
  $bar-height:70px;

  .topbar {
    @include height($bar-height);
    background-color: $detail-header-bg-color;
    box-shadow: $common-box-shadow;
    position: fixed;
    top:0;left:0;right:0;
    z-index: 1;

    a.back {
      float:left;
      background-color: $filter-bg-color;
      color:white;
      @include circle(40px);
      margin-top: $gpd;
      margin-left: $gpd;
      font-size: $top-nav-icon-size;
      text-decoration: none;
      i {
        @include square(40px);
        position: relative;
        left: - 1px;
      }
    }

    .steps {
      @include height($bar-height);
      position: absolute;
      top:0;left:$bar-height + $gpd;right:0;

      .step {
        float:left;
        @include height($bar-height);
        width: $bar-height;
        position: relative;
        &:after {
          position: absolute;
          content: "";
          height:6px;
          border-radius:10px;
          top: ($bar-height - 6px) / 2;
          right: 15px + 40px + 5px;
          width: 20px;
          background-color: $step-bg-color;
          @include default-transition($time: .5s);
        }

        span {
          @include circle(40px);
          position: absolute;
          top: $gpd;
          left: 50%;
          margin-left: -20px;
          background-color: $step-bg-color;
          color: white;
          font-size: 20px;
          @include default-transition($time: .5s);

          .no, i{
            @include square(40px);
            position: absolute; top:0;left:0;
            @include default-transition($time: .5s);
          }
          i { opacity:0;@include transform(scale(0.1)); }
        }

        &:first-child:after {
          display: none;
        }

        &.active span{
          background-color: $step-active-bg-color;
        }
        &.active:after {
          background-color: $step-active-bg-color;
        }

        &.done span {
          background-color: $area-success;
          .no { opacity:0;@include transform(scale(0.1)); }
          i { opacity:1;@include transform(scale(1)); }
        }
        &.done:after {
          background-color: $area-success;
        }
      }
    }
  }

  .form {
    .part {
      position: absolute;
      top:75px;left:0;width:100%;
      box-sizing:border-box;

      background-color: $detail-header-bg-color;
      padding: $gpd;
      box-shadow: $common-box-shadow;
      margin-bottom: 5px;
      .fields {
        margin-bottom: $gpd;
        label {
          display: block;
          color: #666;
          font-weight: normal;
          margin-bottom: 10px;
          font-size: 16px;
        }
        textarea {
          resize: none;
          padding: 6px;
          font-size: 16px;
          border-color: #ddd;
          &:focus { border-color: $base-color; }
        }
        input {
          font-size: 16px;
          border-color: #ddd;
          &:focus { border-color: $base-color; }
          margin-bottom: 5px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .submits {
        @include clearfix;
        a.prev, a.next, a.done{
          font-size: 16px;
          @include height(32px);
          text-decoration: none;
          span{position: relative;top:1px;}
          
        }
        a.prev {
          color: #999;
          float: left;
        }
        a.next, a.done{
          color: $area-success;
          float: right;
        }
      }
    }
  }
}
