.vote{
  border: solid 1px #ccc;
  padding: 20px;
  margin-bottom: 10px;
}
.vote-title{
  font-size: 16px;
  color: #333;
}
.vote-finish{
  color: #999;
}
.vote-voted{
  color: #008000;
}
.vote-no-vote{
  color: #0066FF;
}
.vote-meta{
  font-size: 12px;
  color: #666;
}
.answer-result-title{
  color: #333;
  position: absolute;
  height: 20px;
  line-height: 20px;
  text-align: center;
  overflow: hidden;
  width: 95%;
}

.btn-vote-question-add-answer{
  bottom: 30px;
  left: -20px;
}
.div-invite-uids{
  span{
    margin-right: 10px;
  }
}
