<div class="nested-fields">
  <%= f.input :title %>
  <div id="answers" class="">
    <%= f.simple_fields_for :answers do |answer| %>
      <%= render "answer_fields", :f => answer %>
    <% end -%>
    <div class="links col-sm-offset-3 col-sm-9">
      <%= link_to_add_association '+ 增加一项可选回答', f, :answers, class: 'btn btn-default' %>
    </div>
  </div>
</div>

