.answer.col-xs-7
  = f.input :voter_id, as: :boolean, label: false, inline_label: f.object.try(:title) || f.input(:title, wrapper: :inline_form), checked_value: current_user.id, unchecked_value: nil
  - if !f.object.new_record?
    = f.input :id, as: :hidden
    = f.input :title, as: :hidden
