<form action="/votes/new" method="get" id="new_vote">
  <div class="row">
    <div class="col-xs-10">
      <div class="form-group string">
        <input class="string form-control" name="vote[title]" placeholder="新增一个投票主题..." type="text">
      </div>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-primary">
        新增
      </button>
    </div>
  </div>
</form>
