.page-landing{:data => {:nav => :home, :title => '议题大厅'}}
  .topbar
    %a.lucky{:href => url_for([:lucky, :votes])}
      .dice
        .p

  :ruby
    url = '/votes'
    url = '/votes/hot' if action_name == 'hot'

  = render_cell :topics, :list, @votes, current_user, url