.page-lucky
  .loading-info
    .icon
      %i.fa.fa-circle-o-notch.fa-spin 
    .text 正在推荐下一个议题 …

  .no-next
    .ac
    .text 没有议题可以推荐了 …
    .pls-create
      %span 发起新议题吧！
    .arrow
      %i.fa.fa-arrow-down