.page-new-topic
  .topbar
    = link_to votes_path, class: 'back' do
      %i.fa.fa-chevron-left
    .steps
      .step.active{:data => {:step => 1}}
        %span 
          .no 1
          %i.fa.fa-check
      .step{:data => {:step => 2}}
        %span 
          .no 2
          %i.fa.fa-check
      .step{:data => {:step => 3}}
        %span 
          .no 3
          %i.fa.fa-check

  = form_for @vote, html: {class:'form'} do |f|
    .part{:data => {:step => 1}}
      .fields
        %label 请输入要分享的网址
        %textarea.form-control.url{:placeholder => '请粘贴要分享的网址', :rows => 2, name: 'vote[url]'}
      .submits
        %a.loadurl.disabled{:href => 'javascript:;'}
          %i.fa.fa-arrow-circle-o-down
          %span 读取网址
        .loading{:style => 'display:none;'}
          .loadingtext 
            %span 正在读取
            %i.fa.fa-circle-o-notch.fa-spin  
          .loadingbar
            .p{:style => 'width:10%;'}
        .loaded-success{:style => 'display:none;'} 
          %span 读取完毕
          %i.fa.fa-check
        .loaded-failure{:style => 'display:none;'}
          %span 读取失败

        %a.next.skip{:href => 'javascript:;'}
          %span 跳过
          %i.fa.fa-forward
        %a.next.urldone{:href => 'javascript:;', :style => 'display:none;'}
          %span 下一步
          %i.fa.fa-chevron-right
      .infocard.product{:style => 'display:none;'}
        .product-logo
          %img{:src => 'http://img.teamkn.com/i/WDB7GDLK.png'}
        .data
          .product-name 【袋装】台湾泡面满汉大餐方便面麻辣葱烧珍味牛肉面满汉全席整箱
          .product-price ￥7.50


    .part.tdesc{:style => 'display:none;', :data => {:step => 2}}
      .fields
        %label 请输入议题描述
        %textarea.form-control.tdesc{:placeholder => '有什么事情想知道大家的看法呢？', :rows => 5, name: 'vote[title]'}
      .submits
        %a.prev{:href => 'javascript:;'}
          %i.fa.fa-arrow-left
          %span 上一步
        %a.next.disabled{:href => 'javascript:;'}
          %span 下一步
          %i.fa.fa-arrow-right

    .part{:style => 'display:none;', :data => {:step => 3}}
      .fields
        %label 请输入预置选项（至少两个）
        .item-inputs
          .ipt
            %input.form-control{:placeholder => '选项 1', name: 'vote[vote_items_attributes][][title]'}
            %a.delete.disabled{:href => 'javascript:;'}
              %i.fa.fa-times
          .ipt
            %input.form-control{:placeholder => '选项 2', name: 'vote[vote_items_attributes][][title]'}
            %a.delete.disabled{:href => 'javascript:;'}
              %i.fa.fa-times
      .submits
        %a.prev{:href => 'javascript:;'}
          %i.fa.fa-arrow-left
          %span 上一步
        %a.additem{:href => 'javascript:;'}
          %i.fa.fa-plus
        .additem-text
          %i.fa.fa-arrow-up
          %span 按这里增加选项
         
        %a.done.disabled{:href => 'javascript:;'}
          %span 完成
          %i.fa.fa-check

