.page-vote-show
  .heading 参与议题讨论，贡献我的想法 …
  .title 议题：#{@vote.title}

  = render_cell :votes, :show_form, :vote => @vote, :user => current_user

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title 再加一题
      #modal-question-form
        = render_cell :questions, :form, :vote => @vote