.page-topic{:data => {:id => @vote.id}}
  .so
    .topic-header
      .btns
        %a.next-vote{:href => 'javascript:;'}
          %i.fa.fa-fast-forward

      %h2.title= @vote.title
      = render_cell :topics, :infocard, @vote.infocard

    = render_cell :topics, :topic_options, @vote_items, current_user

    .topic-btns
      .topic-new-option
        :ruby
          if @vote.added_vote_item_by?(current_user)
            klass = 'disabled'
          else
            klass = ''
          end

        %a.new{:href => 'javascript:;', :class => klass}
          .bc-new
            %i.fa.fa-plus
            %span.new 补充选项
          .bc-done
            %span.done 补充过了

      .vote-done
        %a.done.disabled{:href => 'javascript:;'}
          %i.fa.fa-check
          %span 投完了

    .new-option-overlay
      .form{:data => {:url => "/votes/#{@vote.id}/vote_items"}}
        .fields
          %label 补充新选项
          %textarea.form-control{:placeholder => '输入选项内容', :rows => 3}
        .submits
          %a.cancel{:href => 'javascript:;'}
            %i.fa.fa-times
            %span 取消
          %a.ok.disabled{:href => 'javascript:;'}
            %i.fa.fa-check
            %span 确定

  .share-overlay
    .form
      .fields
        %label 分享到 …
        .s 现在是内测阶段，微博应用并没有审核通过，只能添加我们团队的测试用户
        .s 因此即使分享了也没意义，别人登录不进来的
        .s 所以内测期间此功能不开放
      .submits
        %a.cancel{:href => 'javascript:;'}
          %i.fa.fa-times
          %span 取消
