.page-topic{:data => {:nav => :explore, :title => '议题详情'}}
  .topic-header
    = link_to votes_path, class: 'back' do
      %i.fa.fa-chevron-left
    %h2.title=@vote.title
    .infocard.product
      .product-logo
        %img{:src => 'http://img.teamkn.com/i/fyU5ZbBc.png'}
      .data
        .product-name 扇贝单词
        .product-desc 这不是一款帮你“背”单词的软件，而是帮你“记住”单词的软件。只要能够完成一天的任务，你就能感受到实际的效果！

  .topic-options
    - @vote.vote_items.each do |vote_item|
      = link_to 'javascript:;', class: vote_item.praised_by?(current_user) ? 'option active' : 'option' do
        .text=vote_item.title
        .icon.i0
          %i.fa.fa-thumbs-up
        .icon.i1
          %i.fa.fa-check

  .topic-new-option
    %a.new.btn.btn-flat-success.btn-block{:href => 'javascript:;'}
      %i.fa.fa-plus
      %span 补充一个选项
