<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">参与议题讨论，贡献我的想法</h3>
  </div>
  <div class="panel-body">
    <h1 class="text-center">议题：<%= @vote.title %></h1>
    <%= text_field_tag nil, token_url(@vote.token), class: 'form-control', disabled: true %>
  </div>
</div>

<div id="vote-form" class="">
  <%= render "show_form", vote: @vote %>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">再加一题</h4>
      </div>
      <div id="modal-question-form">
        <%= render "questions/form", vote: @vote %>
      </div>
    </div>
  </div>
</div>
