<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Touch Idea', root_url, class: 'navbar-brand', title: 'Touch Idea - 内测版仅供体验，用户数据可能会不定期清空' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
          <% if current_user %>
            <%= link_to '登出', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to '登录', new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
