!!!
%html{:lang => :zh}
  %head
    %title pinidea
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

  %body
    .body-wallpaper
    .phone-wrapper
      .phone-top
      .phone-menubar
      .phone-screen
        .layout-content
          = yield

        .layout-footer
          .footer-nav#footer-nav
            :ruby
              arr = [:'lucky-vote', :search, :notification, :me]
              klasses = arr.map { |name|
                @footer_nav_active == name ? 'active' : ''
              }

              lucky_url = lucky_votes_path
              begin
                if session[:lucky]
                  vote = Vote.where(:id => session[:lucky]).first
                  if vote
                    lucky_url = vote_path(vote)
                  end
                end
              rescue
              end

            %a.item.lucky-vote{:class => klasses[0], :href => 'javascript:;', :data => {:url => lucky_url}}
              %i.fa.fa-comment
              %span.text 议题

            %a.item.search{:class => klasses[1], :href => 'javascript:;', :data => {:url => search_votes_path}}
              %i.fa.fa-search
              %span.text 搜索

            %a.item.new{:href => 'javascript:;'}
              %i.fa.fa-plus

            %a.item.notification{:class => klasses[2], :href => 'javascript:;', :data => {:url => notifications_path}}
              %i.fa.fa-envelope-o
              %span.text 消息

            %a.item.me{:class => klasses[3], :href => 'javascript:;', :data => {:url => account_path}}
              %i.fa.fa-user
              %span.text 我

            %a.cancel-new{:href => 'javascript:;'}
              %i.fa.fa-times
              
        .float-new-type-select
          .tips 请选择要创建的议题类型
          .items
            .item
              %a.new.common{href: new_common_votes_path}
                %i.fa.fa-edit
              %span.t 普通议题
            .item
              %a.new.shopping{href: new_shopping_votes_path}
                %i.fa.fa-rocket
              %span.t 购物分享
            .item
              %a.new.quote{href: new_quote_votes_path}
                %i.fa.fa-star
              %span.t 引用点评
      .phone-bottom
      .qr-code
        .s 扫一扫，用手机访问！
        .qr