!!!
%html{:lang => :zh}
  %head
    %title pinidea
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

  %body
    .layout-content
      = yield

    .layout-footer
      .footer-nav
        %a.item.home{:href => 'home-1-index.html'}
          %i.fa.fa-list
          %span.text 列表
        %a.item.explore{:href => 'javascript:;'}
          %i.fa.fa-search
          %span.text 搜索
        %a.item.new{:href => 'add-poll-0-new.html'}
          %i.fa.fa-plus
        %a.item.notification{:href => 'notification-0-list.html'}
          %i.fa.fa-bell
          %span.text 通知
        %a.item.me{:href => 'me-0-config.html'}
          %i.fa.fa-user
          %span.text 用户

