!!!
%html{:lang => :zh}
  %head
    %title pinidea
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

  %body
    .body-wallpaper
    .phone-wrapper
      .phone-top
      .phone-menubar
      .phone-screen
        = yield
      .phone-bottom
      .qr-code
        .s 扫一扫，用手机访问！
        .qr